.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:1882px;
  min-width:200px;
  max-width:1440px;
  margin:auto;
  background-color:rgba(255, 255, 255, 1);
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.Rectangle-1{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:144px;
  margin-top:-12px;
  margin-bottom:1750px;
  min-height:144px;
  background-color:rgba(247, 135, 107, 1);
}
.Rectangle-1-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.PORTFOLIO{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:54px;
  width:227px;
  min-width:227px;
  margin-top:-1839px;
  margin-bottom:1794px;
  min-height:45px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:40px;
  line-height:44px;
}
.PORTFOLIO-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.Assignment{
  position:relative;
  z-index:43;
  pointer-events:none;
  margin-left:1019px;
  width:134px;
  min-width:134px;
  margin-top:-1829px;
  margin-bottom:1802px;
  min-height:27px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:25px;
  line-height:28px;
}
.Assignment-outer{
  pointer-events:none;
  z-index:43;
  position:relative;
  display:flex;
}
.Project{
  position:relative;
  z-index:42;
  pointer-events:none;
  margin-left:1177px;
  width:104px;
  min-width:104px;
  margin-top:-1829px;
  margin-bottom:1799px;
  min-height:30px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:25px;
  line-height:28px;
}
.Project-outer{
  pointer-events:none;
  z-index:42;
  position:relative;
  display:flex;
}
.Contact{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:1297px;
  width:143px;
  min-width:143px;
  margin-top:-1829px;
  margin-bottom:1787px;
  min-height:42px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:25px;
  line-height:28px;
}
.Contact-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.About{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:713px;
  width:87px;
  min-width:87px;
  margin-top:-1829px;
  margin-bottom:1790px;
  min-height:39px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:25px;
  line-height:28px;
}
.About-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.Hobbies{
  position:relative;
  z-index:44;
  pointer-events:none;
  margin-left:806px;
  width:96px;
  min-width:96px;
  margin-top:-1828px;
  margin-bottom:1800px;
  min-height:28px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:25px;
  line-height:28px;
}
.Hobbies-outer{
  pointer-events:none;
  z-index:44;
  position:relative;
  display:flex;
}
.Work-1{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:927px;
  width:62px;
  min-width:62px;
  margin-top:-1827px;
  margin-bottom:1800px;
  min-height:27px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:25px;
  line-height:28px;
}
.Work-1-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.Rectangle-2{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:504px;
  margin-top:-1753px;
  margin-bottom:1249px;
  min-height:504px;
  background-color:rgba(249, 246, 231, 1);
}
.Rectangle-2-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.me1-1{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:0px;
  width:464px;
  min-width:464px;
  height:467px;
  margin-top:-1716px;
  margin-bottom:1249px;
  min-height:467px;
  content:url(assets/images/me1_1.png);
}
.me1-1-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.About-Me{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:839px;
  width:276px;
  min-width:276px;
  margin-top:-1697px;
  margin-bottom:1652px;
  min-height:45px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:35px;
  line-height:39px;
  -webkit-text-stroke:1px rgba(0, 0, 0, 1);
}
.About-Me-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.I-m-Sorravit-Unearoo{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:839px;
  width:358px;
  min-width:358px;
  margin-top:-1627px;
  margin-bottom:1556px;
  min-height:71px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:25px;
  line-height:28px;
}
.I-m-Sorravit-Unearoo-outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.q2013-2015---Chonbur{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:839px;
  width:202px;
  min-width:202px;
  margin-top:-1574px;
  margin-bottom:1501px;
  min-height:73px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.q2013-2015---Chonbur-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.q2016-2018---Bangkok{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:839px;
  width:281px;
  min-width:281px;
  margin-top:-1473px;
  margin-bottom:1372px;
  min-height:101px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.q2016-2018---Bangkok-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.q2019-Now---Bangkok-{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:839px;
  width:530px;
  min-width:530px;
  margin-top:-1362px;
  margin-bottom:1268px;
  min-height:94px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.q2019-Now---Bangkok--outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.Rectangle-3{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:322px;
  margin-top:-1250px;
  margin-bottom:928px;
  min-height:322px;
  background-color:rgba(247, 135, 107, 1);
}
.Rectangle-3-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Interest---Hobbies{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:599px;
  width:293px;
  min-width:293px;
  margin-top:-1221px;
  margin-bottom:1180px;
  min-height:41px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:35px;
  line-height:39px;
  -webkit-text-stroke:1px rgba(0, 0, 0, 1);
}
.Interest---Hobbies-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.Digital-Art{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:679px;
  width:106px;
  min-width:106px;
  margin-top:-1155px;
  margin-bottom:1125px;
  min-height:30px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.Digital-Art-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.listen-to-music{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:663px;
  width:137px;
  min-width:137px;
  margin-top:-1119px;
  margin-bottom:1090px;
  min-height:29px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.listen-to-music-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.Graphic-Design{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:658px;
  width:178px;
  min-width:178px;
  margin-top:-1082px;
  margin-bottom:1052px;
  min-height:30px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.Graphic-Design-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.Video-Editing{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:667px;
  width:130px;
  min-width:130px;
  margin-top:-1045px;
  margin-bottom:1013px;
  min-height:32px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.Video-Editing-outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
.Video-Game{
  position:relative;
  z-index:22;
  pointer-events:none;
  margin-left:667px;
  width:136px;
  min-width:136px;
  margin-top:-1006px;
  margin-bottom:982px;
  min-height:24px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.Video-Game-outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.icon-3-1{
  position:relative;
  z-index:28;
  pointer-events:none;
  margin-left:732px;
  width:590px;
  min-width:590px;
  height:590px;
  margin-top:-1005px;
  margin-bottom:415px;
  min-height:590px;
  content:url(assets/images/icon_3_1.png);
}
.icon-3-1-outer{
  pointer-events:none;
  z-index:28;
  position:relative;
  display:flex;
}
.Running{
  position:relative;
  z-index:23;
  pointer-events:none;
  margin-left:686px;
  width:92px;
  min-width:92px;
  margin-top:-975px;
  margin-bottom:955px;
  min-height:20px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.Running-outer{
  pointer-events:none;
  z-index:23;
  position:relative;
  display:flex;
}
.Rectangle-4{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:335px;
  margin-top:-936px;
  margin-bottom:601px;
  min-height:335px;
  background-color:rgba(249, 246, 231, 1);
}
.Rectangle-4-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.Work{
  position:relative;
  z-index:25;
  pointer-events:none;
  margin-left:683px;
  width:99px;
  min-width:99px;
  margin-top:-883px;
  margin-bottom:826px;
  min-height:57px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:35px;
  line-height:39px;
  -webkit-text-stroke:1px rgba(0, 0, 0, 1);
}
.Work-outer{
  pointer-events:none;
  z-index:25;
  position:relative;
  display:flex;
}
.icon-4{
  position:relative;
  z-index:29;
  pointer-events:none;
  margin-left:642px;
  width:333px;
  min-width:333px;
  height:333px;
  margin-top:-882px;
  margin-bottom:549px;
  min-height:333px;
  content:url(assets/images/icon_4.png);
}
.icon-4-outer{
  pointer-events:none;
  z-index:29;
  position:relative;
  display:flex;
}
.i-con1-1{
  position:relative;
  z-index:24;
  pointer-events:none;
  margin-left:260px;
  width:326px;
  min-width:326px;
  height:321px;
  margin-top:-868px;
  margin-bottom:547px;
  min-height:321px;
  content:url(assets/images/i_con1_1.png);
}
.i-con1-1-outer{
  pointer-events:none;
  z-index:24;
  position:relative;
  display:flex;
}
.Skill-Abillity{
  position:relative;
  z-index:26;
  pointer-events:none;
  margin-left:658px;
  width:376px;
  min-width:376px;
  margin-top:-828px;
  margin-bottom:772px;
  min-height:56px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:25px;
  line-height:28px;
}
.Skill-Abillity-outer{
  pointer-events:none;
  z-index:26;
  position:relative;
  display:flex;
}
.image-1{
  position:relative;
  z-index:27;
  pointer-events:none;
  margin-left:549px;
  width:145px;
  min-width:145px;
  height:145px;
  margin-top:-781px;
  margin-bottom:636px;
  min-height:145px;
  content:url(assets/images/image_1.png);
}
.image-1-outer{
  pointer-events:none;
  z-index:27;
  position:relative;
  display:flex;
}
.Rectangle-5{
  position:relative;
  z-index:30;
  pointer-events:none;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:307px;
  margin-top:-603px;
  margin-bottom:296px;
  min-height:307px;
  background-color:rgba(247, 135, 107, 1);
}
.Rectangle-5-outer{
  pointer-events:none;
  z-index:30;
  position:relative;
  display:flex;
}
.Assignment-1{
  position:relative;
  z-index:31;
  pointer-events:none;
  margin-left:642px;
  width:363px;
  min-width:363px;
  margin-top:-563px;
  margin-bottom:516px;
  min-height:47px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:30px;
  line-height:33px;
  -webkit-text-stroke:1px rgba(0, 0, 0, 1);
}
.Assignment-1-outer{
  pointer-events:none;
  z-index:31;
  position:relative;
  display:flex;
}
.Cinnamon-Roll-Wreath{
  position:relative;
  z-index:32;
  pointer-events:none;
  margin-left:573px;
  width:409px;
  min-width:409px;
  margin-top:-497px;
  margin-bottom:457px;
  min-height:40px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.Cinnamon-Roll-Wreath-outer{
  pointer-events:none;
  z-index:32;
  position:relative;
  display:flex;
}
.Blogger{
  position:relative;
  z-index:33;
  pointer-events:none;
  margin-left:679px;
  width:76px;
  min-width:76px;
  margin-top:-450px;
  margin-bottom:420px;
  min-height:30px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.Blogger-outer{
  pointer-events:none;
  z-index:33;
  position:relative;
  display:flex;
}
.Register{
  position:relative;
  z-index:34;
  pointer-events:none;
  margin-left:678px;
  width:93px;
  min-width:93px;
  margin-top:-396px;
  margin-bottom:365px;
  min-height:31px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.Register-outer{
  pointer-events:none;
  z-index:34;
  position:relative;
  display:flex;
}
.Square-Game{
  position:relative;
  z-index:35;
  pointer-events:none;
  margin-left:655px;
  width:148px;
  min-width:148px;
  margin-top:-346px;
  margin-bottom:322px;
  min-height:24px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.Square-Game-outer{
  pointer-events:none;
  z-index:35;
  position:relative;
  display:flex;
}
.Rectangle-6{
  position:relative;
  z-index:36;
  pointer-events:none;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:298px;
  margin-top:-298px;
  margin-bottom:0px;
  min-height:298px;
  background-color:rgba(39, 112, 107, 1);
}
.Rectangle-6-outer{
  pointer-events:none;
  z-index:36;
  position:relative;
  display:flex;
}
.Contact-Me{
  position:relative;
  z-index:37;
  pointer-events:none;
  margin-left:628px;
  width:208px;
  min-width:208px;
  margin-top:-258px;
  margin-bottom:228px;
  min-height:30px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:35px;
  line-height:39px;
}
.Contact-Me-outer{
  pointer-events:none;
  z-index:37;
  position:relative;
  display:flex;
}
.facebook{
  position:relative;
  z-index:38;
  pointer-events:none;
  margin-left:678px;
  width:107px;
  min-width:107px;
  margin-top:-195px;
  margin-bottom:161px;
  min-height:34px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.facebook-outer{
  pointer-events:none;
  z-index:38;
  position:relative;
  display:flex;
}
.Instagram{
  position:relative;
  z-index:39;
  pointer-events:none;
  margin-left:675px;
  width:191px;
  min-width:191px;
  margin-top:-154px;
  margin-bottom:128px;
  min-height:26px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.Instagram-outer{
  pointer-events:none;
  z-index:39;
  position:relative;
  display:flex;
}
.Github{
  position:relative;
  z-index:40;
  pointer-events:none;
  margin-left:686px;
  width:117px;
  min-width:117px;
  margin-top:-109px;
  margin-bottom:83px;
  min-height:26px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.Github-outer{
  pointer-events:none;
  z-index:40;
  position:relative;
  display:flex;
}
.tel---0839941514{
  position:relative;
  z-index:41;
  pointer-events:none;
  margin-left:655px;
  width:166px;
  min-width:166px;
  margin-top:-64px;
  margin-bottom:24px;
  min-height:40px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Almarai;
  font-weight:400;
  font-size:20px;
  line-height:22px;
}
.tel---0839941514-outer{
  pointer-events:none;
  z-index:41;
  position:relative;
  display:flex;
}
